rest-service/src/main/resources/wsdl/article.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://samples.com/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://samples.com/soap" targetNamespace="http://samples.com/soap">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://samples.com/soap">
            <xs:element name="addArticleRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addArticleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="article" type="tns:article"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArticleRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArticleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="article" type="tns:article"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="article">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element name="date_added" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getArticleRequest">
        <wsdl:part element="tns:getArticleRequest" name="getArticleRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getArticleResponse">
        <wsdl:part element="tns:getArticleResponse" name="getArticleResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addArticleRequest">
        <wsdl:part element="tns:addArticleRequest" name="addArticleRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addArticleResponse">
        <wsdl:part element="tns:addArticleResponse" name="addArticleResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ArticlesPort">
        <wsdl:operation name="getArticle">
            <wsdl:input message="tns:getArticleRequest" name="getArticleRequest"> </wsdl:input>
            <wsdl:output message="tns:getArticleResponse" name="getArticleResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addArticle">
            <wsdl:input message="tns:addArticleRequest" name="addArticleRequest"> </wsdl:input>
            <wsdl:output message="tns:addArticleResponse" name="addArticleResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ArticlesPortSoap11" type="tns:ArticlesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getArticle">
            <soap:operation soapAction=""/>
            <wsdl:input name="getArticleRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getArticleResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addArticle">
            <soap:operation soapAction=""/>
            <wsdl:input name="addArticleRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addArticleResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ArticlesPortService">
        <wsdl:port binding="tns:ArticlesPortSoap11" name="ArticlesPortSoap11">
            <soap:address location="http://localhost:8801/api/v1/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>